<h2>Products</h2>
<div *ngFor="let product of products">
  <a 
    [routerLink]="['/products', product.id]"
    [title]="product.name"
  >
      {{ product.name }}
  </a>
  
  <p *ngIf="product.description">
    Description: {{ product.description }}
    <br/>
    Price: {{ product.price }}
  </p>
  
  
  <button fooBar="abcedf" (click)="share()">Share me!</button>
  <br/>
  
  <product-alerts 
    (notify)="onNotify()"
    [product]="product"
    blah="seventeen"
  >
  </product-alerts>

</div>


<!-- 
Copyright Google LLC. All Rights Reserved.
Use of this source code is governed by an MIT-style license that
can be found in the LICENSE file at https://angular.io/license
-->
